.lista-tarefas {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tarefa-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tarefa-item.concluida {
    text-decoration: line-through;
  }
  
  button {
    margin-left: 10px;
  }
  